<h1>Devices</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Serial number</th>
      <th>Registration Date</th>
      <th>Firmware version</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= link_to device.serial_number, device %></td>
        <td><%= device.created_at.to_date %></td>
        <td><%= device.firmware_version %></td>
        <td><%= link_to 'Statuses', device %></td>
      </tr>
    <% end %>
  </tbody>
</table>
